<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Type Ahead 👀</title>
  <link rel="stylesheet" href="style.css" />
</head>

<body>
  <div id="app">
    <form class="search-form">
      <input v-model="nowValue" type="text" class="search" placeholder="City or State" />
      <div v-if="nowValue">
        <ul class="suggestions">
          <li v-for="item in filterData">
            <span>{{item.city}} , {{item.state}}</span>
            <span>{{item.LocaleStringPopulation}}</span>
          </li>
        </ul>
      </div>
      <div v-else>
        <ul class="suggestions">
          <li>Filter for a city</li>
          <li>or a state</li>
        </ul>
      </div>
    </form>
  </div>
  <script src="../common/vue.js"></script>
  <script src="main.js"></script>
</body>

</html>